<h2>All Recipes</h2>

 <%= will_paginate %>

<% @recipes.each do |recipe| %>
  <li>
    <td><%= link_to recipe.name, recipe %></td>
  </li>
<% end %>
<br />
 <%= will_paginate %><br/>

<h3>
  <%= link_to 'Add Recipe', new_recipe_path %>


</h3>




