<h2>Cuisines</h2>
<br/>
    <%= will_paginate %>

    <div id="cuisines">
    <% @cuisines.each do |cuisine| %>
        <ul>
            <td><h3><%= link_to cuisine.title, cuisine %></h3></td>

        </ul>
    <% end %>

 </div>

</table>
<%= will_paginate %>

<br />



<%= link_to 'Add a Cuisine', new_cuisine_path %>
