<h1>About us</h1>
<br/>
<h4>

 Foodogle is a website focused on celebrating and sharing food enthusiasm.

 You can find recipes based on the availability of ingredients, thus making life simpler.

</h4>